h1 {
 display: block;
 font-size: 2em;
 margin-top: 0.67em;
 margin-bottom: 0.67em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
 color: #50555a;
}
p {
 font-size: 1.2em;
}

li {
 font-size: 1.3em;
}

strong {
 font-size: 3em;
}

h3 {
 display: block;
 margin-top: 0.67em;
 margin-bottom: 0.67em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
 color: #50555a;
 font-size: 1.8em;
}

h6 {
 display: block;
 margin-top: 0.67em;
 margin-bottom: 0.67em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
 color: #50555a;
 font-size: 0.8em;
}