@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.ProfessorProject {
  margin-top: 10px;
  margin-bottom: 10px;

  border-bottom: 2px solid black;
}
.AnsCmt {
  border: 1px solid blue;
  border-radius: 20px;
  margin: 5px;
  padding: 15px;
}
.Login-title {
  /* class for login page login title sub se uper vala*/
  font-size: larger;

  /* border:1px solid red; */
}

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  border-color: white;
}

.special {
  /* in discussion forum ans is given by prof then it will pinned to top */
  background-color: seagreen;
}
.normal {
  border: 1px solid blue;
}
.discussAns {
  display: block;
  /* border: 1px solid lightblue; */
  border-radius: 20px;
  width: 80%;
  min-height: 30px;
}
.ForShadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
}

.ProjOutBox {
  /* margin: 30px auto; */

  /* max-width: 1000px; */
  overflow: auto;
  padding: 10px;
  /* border: 1px solid #123123; */
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-start: 2;
  grid-column-end: 4;
  /* border-radius: 50px; */
}
.LikeDislikeBox {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.discussionBox {
  margin: 30px auto;

  max-width: 1000px;
  overflow: auto;
  padding: 5px;
  /* padding-right: px; */
  border: 1px solid steelblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
}
.discussionBox1 {
  margin: 30px 10px;
  max-width: 1000px;
  overflow: auto;
  padding: 15px;
  /* padding-right: 0px; */
  border: 1px solid steelblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 5px rgba(0, 0, 0, 0.19);
}
.AskBox {
  margin: 0px;

  max-width: 1000px;
  overflow: auto;
}
.AskQuestion {
  margin: 30px auto;
  padding: 30px;
  overflow: auto;
  max-width: 1000px;
}
.projectbx {
  /* margin: 30px auto; */

  max-width: 1000px;
  overflow: auto;

  padding: 20px;
  /* border: 1px solid steelblue; */
  border-radius: 10px;
  /* box-shadow: 2px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19); */
}
.projhd {
  /**/
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px;
  border-radius: 15px;
}

.Profile {
  display: inline-flex;
}

.DiscussIMG {
  /*border-radius: 15px;*/
  margin-left: 10px;
  width: 30px;
}
.ImgProj {
  max-width: 90px;
  max-height: 90px;
  /* border: 2px solid red; */
}
.ApplyBtn {
  /*Apply button in project form in each project*/
  align-content: flex-end;
  float: right;
}
.ProjectDiscrp {
  /* Project discription */
  font-size: 1rem;
  word-break: break-all;
}
.ProjectBox {
  /* class of project forum each project outer div tag*/
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 20px;
  max-width: 100%;
}

.container {
  max-width: 500px;
  /* margin: 30px auto; */
  padding: 40px;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  /* background-color: #fff; */
  /* padding: 30px; */
  /* border-radius: 50px; */
  /* border-radius: 50px 0px 0px 50px; */
}

.question-container {
  display: grid;
  grid-template-columns: 70% auto;
  /* width: 70%; */
  /* border: 2px solid red; */
}
.AskQueBox {
  width: auto;
}
.containerbg {
  /*this class is for back ground image*/
  /* position: relative; */

  /* max-width: 2000px; */
  width: 100%;
  height: 100vh;
  margin: 30px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  /* min-height: 900px; */
  border: 1px solid rgb(224, 230, 23);

  background-color: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

  /* opacity: 90%; */
  padding: 30px;
  /* border-radius: 50px; */
  /* border-radius: 10px 100px 10px 10px; */
}
.profilepic {
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.addProject {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgb(198, 194, 194);
}
.AddAProject {
  /*in Project forum add project for profs */
  margin: 30px;
  /* padding: 10px; */
  align-content: space-between;
  /* border:1px solid black; */
}
.ProjectHeader {
  background-color: #e5f0ff;
  /* border: 1px solid black; */
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding: 20px;
  margin: -2px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.AddProjTitle {
  /*in Project forum add project for profs  Title "Add New Project"*/
  background-color: antiquewhite;
  font-size: 1rem;
  min-height: 70px;
  text-align: center;
  border: 1px solid rgb(198, 194, 194);
  margin-top: 10px;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
.DiscussionHeader {
  background-color: #e5f0ff;
  padding: 20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -30px;
}
.LikeDislikeCnt {
  margin-top: 5%;
}
.Topictag {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.LoginLogo {
  height: 80%;
  width: 80%;
  float: left;
  /* border: 1px solid red; */
  max-width: 300px;
  max-height: 400px;
}
.ImgLogin {
  /* min-height: 400px;
  min-width: 350px;
  max-height: 4000px;
  max-width: 450px;
  padding-right: 90px; */
  margin-left: -90px;
  margin-right: 60px;
  margin-top: 70px;

  width: 200%;
  height: auto;
  /* padding-right: 90px; */
}
.LoginOutBox {
  margin-right: 200px;
  padding-right: 50px;
  height: inherit;
}

.syn {
  /*this class is for out logo image*/
  /* position: relative; */

  /* max-width: 500px; */
  /* max-height: 500px; */
  min-height: 500px;

  /* margin: auto; */
  background-repeat: no-repeat;
  /* background-size: cover; */

  /* background-color:white; */
  overflow: auto;
  /* border-radius: 0px 50px 50px 0px; */

  /* border: 1px solid steelblue; */
  /* opacity: 10%; */
  /* padding: 30px; */
}
.imglogo {
  position: relative;

  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: auto;
  opacity: 0;
  padding: 50px;
}

.perent {
  justify-content: center;

  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
}

.even123 {
  /*this class is for linkedin github logo in login page */
  display: flex;
  justify-content: space-between;
}
.inline-flex-proj {
  display: inline-flex;
}

.Discuss-prof {
  font-size: medium;
}
.Discuss-oth {
  margin-left: 10px;
  font-size: smaller;
}
.inline-flex-parent {
  /*this class is for login/create acc white box in back ground image*/
  display: inline-flex;
  /* justify-content: center; */
  /* margin-top: 5%; */
  margin: auto;

  /* margin-left: 30%; */
  border: 1px solid steelblue;
  background-color: #fff;
  /* border-radius: 50px; */
}

.inline-flex-parent1 {
  /*this class is for login/create acc white box in back ground image*/
  /* display: inline-flex; */
  /* justify-content: center; */
  /* margin-top: 5%; */
  margin: auto;

  /* margin-left: 30%; */
  border: 1px solid steelblue;
  background-color: #fff;
  /* border-radius: 50px; */
}

.textcls {
  text-align: center;
  font-family: "cursive";
  white-space: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-ot {
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: medium;
  color: blue;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: solid;
}

.task {
  background: #f4f4f4;
  background: burlywood;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-radius: 20px;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discussion-box {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-template-columns: 100%;
  /* width: 100%; */
  /* display: inline-flex; */
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px auto;
}
.text-box {
  border-radius: 10px;
  text-align: center;
}
.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.inline-flex-par {
  display: inline-flex;

  background-color: #fff;
  border-radius: 50px;
}

.inline-flex-par1 {
  display: inline-flex;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
